<!DOCTYPE html>
<html lang="ru">
  <head>
    <%- include("./partials/head", {title: "Gulp4Start"}) -%>
  </head>  
  <body>
    <%- include("./partials/header") -%>
    <main class="main">
      <section class="section">
        <div class="container">
          <h2 class="heading">Gulp4Start</h2>            
          <!-- <svg class="icon">
            <use xlink:href="/img/sprite.svg#icon-dollar"></use>
          </svg>           -->
        </div>
      </section>     
    </main>
    <%- include("./partials/footer") -%>
    <%- include("./partials/scripts") -%>
  </body>
</html>