// Colors
$accent: #ff6d00;
$lite: #a9a9a9;
$bright: #eef2f4;
$dark: #5f676c;
$text: #4b4b4b;

$mFont: "Open Sans", sans-serif;
$hFont: "Open Sans", sans-serif;

// Sizes
$base-font-size: 16px;
$container-size: 1140px;
$grid-gutter-width: 30px;


$tablet: 768;
$large: 1024;
$desktop: 1280;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
);
